html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
input {
  caret-color: #ff7b25;
  caret-shape: block;
  caret: auto;
}
input:focus {
  cursor: url('../public/images/pot-food.svg') 16 16, auto;
  caret-color:#ff7b25;
}
a:focus, button:hover {
  cursor: url('../public/images/pot-food.svg') 16 16, auto;
}